    <%= link_to recipes_path do %>
      <div class="ml-16 mt-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
        </svg>
      </div>
    <% end %>
<h2 class="flex justify-center mt-5 text-4xl font-bold shadow decoration-sky-500">Shopping List</h2>
 <% sum = 0 %>
<% count = 0 %>
 <% @shopping_lists.each do |shopping_list| %>
 <% value = shopping_list.quantity * shopping_list.food.price%>
<% sum += value %>
      <% count += 1%>
 <%end%>
<div class="flex justify-center my-36 gap-14">
  <h3 class="text-2xl">Total value  of food needed:   $<%= sum %> </h3>
  <h3 class="text-2xl"> Amount of food: <%= count %></h3>
</div>
<div class="flex justify-center">
  <table class="w-[35%] border">
  <thead class="border-b">
      <tr>
        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Food</th>
        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Quantity</th>
        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Unit Price</th>
        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Value</th>
      </tr>
    </thead>
    <tbody>
     <% @shopping_lists.each do |shopping_list| %>
      <tr class="border-b even:bg-slate-50">
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= shopping_list.food.name%></td>
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= shopping_list.quantity%><%= shopping_list.food.measurement_unit%></td>
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">$<%= shopping_list.food.price%></td>
        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">$<%= shopping_list.quantity * shopping_list.food.price%></td>
      </tr>
    <%end%>
    </tbody>
  </table>
</div>