<%= form_for( @recipe, html: {class: "flex flex-col items-center"}) do |f| %>
  <% if @recipe.errors.any? %>
    <div class="bg-red-100 border border-red-200 text-red-700 px-4 py-3 rounded relative">
        <% @recipe.errors.each do |error| %>
          <strong class="font-bold"><%= error.full_message %>!</strong>
        <% end %>
      <span class="block sm:inline"><%= pluralize(@recipe.errors.count, "error") %>prohibited this recipe from being saved.</span>
    </div>
  <% end %>

  <div class="w-full md:w-1/2 px-3 mb-4">
    <%= f.label :name, style: "display: block", class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"  %>
    <%= f.text_field :name, :required => true, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" %>
  </div>
  <div class="w-full md:w-1/2 px-3 mb-4">
    <%= f.label :preparation_time, "preparation time (Hours):", style: "display: block", class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
    <%= f.text_field :preparation_time,
      class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" %>
  </div>
  <div class="w-full md:w-1/2 px-3 mb-4">
    <%= f.label :cooking_time, "cooking time (Hours):", style: "display: block", class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
    <%= f.text_field :cooking_time,
      class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" %>
  </div>
  <div class="w-full md:w-1/2 px-3 mb-4">
    <%= f.label :description, "description", style: "display: block", class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
    <%= f.text_area :description, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" %>
  </div>
  <div class="w-full md:w-1/2 px-3 mb-4">
    <%= f.label :public, "public:", style: "display: block", class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
    <%= f.select(:public, [['False', false], ['True', true]], {}, {:class => 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500'})  %>
  </div>

  <div class="border-2 border-blue-600 rounded-lg px-3 py-2 text-blue-400 cursor-pointer hover:bg-blue-600 hover:text-blue-200">
    <%= f.submit %>
  </div>
<% end %>