<div id="<%= dom_id food %>"> 
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= food.name %></td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= food.measurement_unit %></td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= food.quantity %></td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">$<%= food.price %></td>
</div>
